.DS_Store
specification/specification.aux
specification/specification.blg
specification/specification.fdb_latexmk
specification/specification.fls
specification/specification.log
specification/specification.out
specification/specification.pdf
specification/specification.synctex.gz
src/log-api/journal/id_high
src/log-api/journal/committed/0000000000000000
src/log-api/journal/committed/0000000000000001
src/log-api/journal/committed/0000000000000002
src/log-api/journal/committed/0000000000000003
src/log-api/journal/committed/0000000000000004
src/log-api/journal/committed/0000000000000005
src/log-api/journal/committed/0000000000000006
src/log-api/logs/id_high
src/log-api/logs/id_low
src/journal/id_high
src/journal/committed/0000000000000000
src/journal/committed/0000000000000001
src/journal/committed/0000000000000002
src/journal/committed/0000000000000003
